body{
   background-color: rgb(174, 187, 211);
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 20%;
    
}
body {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 150%;
}